:root {
	--primary: black;
	--secondary: white;
	--background: white;
	--contentWidth: 1000px;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Work Sans', "Segoe UI", Helvetica, Arial, sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

.contentWidth{
	max-width: var(--contentWidth);
	width: 100%;
	margin: 0 auto;
}

.contentWidth>*{
	padding: 0 25px;
}

p,
pre,
code {
	line-height: 1.5;
}


img {
	max-width: 100%;
	height: auto;
}


h1,
h2 {
	font-family: 'Friz Quadrata';
}




/* Nav */

nav{
	margin-top: 2em;
}

nav > div.contentWidth > ul {
	padding: 1em inherit;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	display: inline-block;
}

nav ul > li > a {
	padding: 0.3em 1.2em;
	border-radius: 0.9em;
}


nav ul > li:first-of-type > a{
	padding: 0;
	
}
nav ul > li:first-of-type > a > img{
transform: translateY(-0.5em);
}

nav ul > li:last-of-type > a{
	background: black;
	color: white;
}

nav ul li a[href]:not(:hover) {
	text-decoration: none;
}

nav ul li a[data-current="current item"] {
	background-color: rgb(255, 174, 0);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}






/*				-------------	 		*/
/*			LUKE ADDED STYLING			*/
/* 				-------------			*/





footer {
	background: black;
	color: white;
	padding: 1em 0;
}

footer div.contentWidth{
	display: grid;
	grid-template: 1fr 30px / 50% 1fr 1fr;
	
	grid-template-areas:
	". . ."
	"tinyText tinyText tinyText";
	
}


footer ul{
	list-style: none;
	padding: 0;
}

footer a[href] {
	color: white;
}



/* Styling Office Hours in Footer */

#officeHrsContainer{
	position: relative;
}

#officeHrsDate {
	position: absolute;
	text-align: right;
	transform: translate(-45px, calc(-100% - 2em));
}

#officeHrsDate > span {
	opacity: .3;
}

#officeHrsDate > span.currentDay{
	opacity: 1;
}




.tinyParagraph{
	font-size: 0.5rem;
	opacity: 0.5;
}
