:root {
	--primary: black;
	--secondary: white;
	--background: white;
	--contentWidth: 1000px;
	--lightGrey: #E5E5E5;
}

/* DEV.TO RESET */

/* Box sizing rules + fonts */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Work Sans', "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr auto;
	background-color: var(--background);
}

body>*>*{
	max-width: var(--contentWidth);
	width: 100%;
	margin: 0 auto;
}

body>*>*>*{
	padding: 0 25px;
}



/*  						*/
/* 		Font Styling		*/
/*  						*/


/* FLUID TYPOGRAPHY */




h1{
	font-family: 'Friz Quadrata';
	text-transform: uppercase;
	font-size: 56px;
	line-height: 74px;
}

h2 {
	font-family: 'Friz Quadrata';
	text-transform: uppercase;
	font-size: 35px;
	line-height: 46px;
}

h3 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 33px;
}

h4 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
}

p.standout{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 1.5;
}

p,
pre,
code {
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
	max-width: 750px;
}

a {
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	color: black;
}

a:hover{
	text-decoration: none;
}


.fade {
	opacity: 0.1;
}



img {
	max-width: 100%;
	height: auto;
}

.center{
	text-align: center;
	margin: inherit;
}





/* Nav */

nav{
	margin-top: 2em;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

nav > div > ul {
	padding: 1em inherit;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	display: inline-block;
}

nav ul > li a {
	padding: 0.3em 1.2em;
	border-radius: 0.9em;
}


nav ul > li:first-of-type a, svg{
	padding: 0;
	transform: translateY(-0.5em);
	
}

nav ul > li:last-of-type a{
	background: black;
	color: white;
}

nav ul li a[href]:not(:hover) {
	text-decoration: none;
}

nav ul li a[data-current="current item"] {
	text-decoration: solid;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
} */

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
	resize: vertical;
	transition:all 0.15s;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

input:focus,
textarea:focus {
	box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,1);

}



/*				-------------	 		*/
/*			LUKE ADDED STYLING			*/
/* 				-------------			*/





footer {
	margin-top: 3em;
	background: black;
	color: white;
	padding: 1em 0;
}

footer > div{
	display: grid;
	grid-template: 1fr 30px / 50% 1fr 1fr;
	
	grid-template-areas:
	". . ."
	"tinyText tinyText tinyText";
	
}


footer ul{
	list-style: none;
	padding: 0;
}

footer a[href] {
	color: white;
}



/* Styling Office Hours in Footer */

#officeHrsContainer{
	position: relative;
}

#officeHrsDate {
	position: absolute;
	text-align: right;
	transform: translate(-40px, calc(-100%));
}

#officeHrsDate > span {
	opacity: .3;
}

#officeHrsDate > span.currentDay{
	opacity: 1;
}




.tinyParagraph{
	font-size: 0.5rem;
	opacity: 0.5;
}

#hero{
	width: 100%;
	max-width: none;
	height: 70vh;
	background-size: cover;
	background-position: center;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;

}

#sidekick {
	width: 100%;
	max-width: none;
	height: 500px;
	background-size: cover;
	opacity: 0.7;
	background-position: center;
	margin-bottom: 50px;
}



/* TRI-CARD */
div.triCard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* Save for later! */
/* div.triCard::after {
	content: "";
	flex: auto;
  } */

div.triCard>div{
	padding: 0;
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	margin-bottom: 35px;
}

div.triCard>div>img{
	height: 300px;
}

div.triCard>div>p {
	margin: 0.8em 0.8em;
}


/* BI - INFO */

div.biInfo{
	display: flex;
	position: relative;

	flex-flow: row wrap;
	justify-content: space-between;

}

div.biInfo > div{
	width: calc(var(--contentWidth)/2);
}


/* fiftySplit */

div.fiftySplit {
	display: flex;
	width: 100%;

	max-width: none;
	margin: none;
}

div.fiftySplit > div{
	width: 50%;
	padding: 0;
}

div.fiftySplit > div:last-of-type{
	left: 50%;
}








/*  									*/
/* 		ABOUT PAGE SPECIFIC STYLING 	*/
/*  									*/

div#valuesSection{
	padding-top: 75px;
}

div#valuesSection > h1{
	position: absolute;
	top: 0;
}

div#healthFifty{
	margin-top: 75px;
	margin-bottom: 25px;
}

div#healthFifty>div{
	background: var(--lightGrey);
	display: flex;
	justify-content: center;
}
div#healthFifty>div:last-of-type{
background-image:url(/static/uploads/projects/matthew-t-rader-rl2bhqt-e74-unsplash.jpg);
opacity: 0.7;
background-position: center;
background-size: cover;
}

h1#healthHeader {
	display: inline-block;
	text-align: center;
	background: white;
	position: relative;
	right: -50%;
	margin: 150px 0;
	padding: 5px 50px;
	z-index: 10;	
}

div#teamSection{
	margin-top: 75px;
}


div#historySection{
	margin-top: 75px;
	margin-bottom: -3em;
}


div#historySection.fiftySplit > div:first-of-type{
	background-image:url(/static/uploads/projects/matthew-t-rader-rl2bhqt-e74-unsplash.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.7;
}

div#historySection.fiftySplit > div:last-of-type{
	background: var(--lightGrey);
	padding: 50px 0;
}

div#historySection.fiftySplit>div:last-of-type>*{
	max-width: 500px;
	padding: 0 25px;
}








/*  									*/
/* 		CAREER PAGE SPECIFIC STYLING 	*/
/*  									*/


div#careerSection table{
	margin: 75px 0;
	width: 100%;
	font-size: 1.4em;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}

div#careerSection td,th{
	white-space: nowrap;
	padding: 15px 25px;
	border-bottom: 1pt solid var(--lightGrey);

}

div#careerSection th{
border-bottom: none;
padding: 0 25px;
}