:root {
	--primary: black;
	--secondary: white;
	--background: white;
	--contentWidth: 1000px;
	--lightGrey: #E5E5E5;
	--darkGrey: #949494;
}

@font-face { font-family: 'Friz Quadrata'; src: url('/_includes/assets/fonts/BlackrockHeadline.otf'); }
/* DEV.TO RESET */

/* Box sizing rules + fonts */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: 'Work Sans', "Segoe UI", Helvetica, Arial, sans-serif; */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: var(--background);
}

body>*>*{
	max-width: var(--contentWidth);
	width: 100%;
	margin: 0 auto;
}

body>*>*>*{
	padding: 0 25px;
}


/*  						*/
/* 		Font Styling		*/
/*  						*/


/* Define minimum font size */
html {
    font-size: 16px;
	font-family: 'Work Sans', "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Fluid typography formula */
@media (min-width: 640px) and (max-width: 1439px) {
	html {font-size: calc(16px + (20 - 16) * (100vw - 640px) / (1439 - 640));}
}

/* Define max font size */
@media (min-width: 1440px) {
    html {font-size: 20px;}
}


h1{
	font-family: 'Friz Quadrata';
	text-transform: uppercase;
	font-size: 2.25rem;
	line-height: 3rem;
}

h2 {
	font-family: 'Friz Quadrata';
	text-transform: uppercase;
	font-size: 1.8rem;
	line-height: 2.6rem;
}

h3 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2.2rem;
}

h4 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.3rem;
}

h5 {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 0.9rem;
	line-height: 1.1rem;
}

p.standout{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.4rem;
}

p,
pre,
code{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9rem;
	line-height: 1.2rem;
	max-width: 750px;
	margin-top: 10px;

}
ul{
margin-block-start: 0;
margin-block-end:0;
}

a {
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	color: black;
}

a:hover{
	text-decoration: none;
}


.fade {
	opacity: 0.1;
}

.center{
	text-align: center;
	margin: inherit;
}

@media screen and (max-width: 769px) {
	.mobileHidden{
		display:none;
	}
}

/* Nav */

nav{
	margin-top: 2em;
	padding: 7px 10px;
	position: absolute;
	width: 100%;
	z-index: 1000;
	background-color: #ffffffcc;
	border-radius: 60px;
    max-width: var(--contentWidth);
    left: calc(50% - calc(var(--contentWidth) / 2));
}

#navLinks {
	list-style: none;
	display: flex;
	justify-content: space-between;
	transition: all 0.3s ease-in-out 0s;
	/* transition: opacity 0s linear 0s; */
	margin-block-start: 0;
}

nav #logoContainer {
	width: 60px;
	margin: 4px 0 -4px 5px;
}

nav >*>* {
	padding: initial;
}

nav ul li {
	display: inline-block;
}

nav ul > li a {
	padding: 0.3em 1.2em;
	border-radius: 0.9em;
	text-decoration: none;
}

nav ul > li h5 {
	margin:4px 0 0 0;
}

nav ul > li:last-of-type a{
	background: black;
	color: white;
}

nav ul > li a:hover{
	text-decoration: underline solid;
}


nav ul li a[data-current="current item"] {
	text-decoration: underline solid;
	;
}
#mobileLogoContainer {
	display: none;
	width: 100px;
}

#navToggle {
	display: none;
	position: absolute;
	right: calc(10px + 1.2em);
	top: 5px;
	cursor: pointer;
	width:50px;
	height:50px;
	padding:0;
	margin:0;
	z-index: 10;
  }
  #navToggle div {
	position: relative;
	top:calc(50% - 1px);
	left:calc(50% - 10px);
	background-color: var(--secondary);
	height: 2px;
	transform-origin: 50% 50%;
	width: 20px;
	padding:0;
	margin:0;
	transition: transform 0.3s ease-in-out;
  }
  
  #navToggle > div:first-of-type{
	transform: translateY(-3px);
  }
  
  #navToggle > div:last-of-type{
	transform: translateY(3px);
  }
  
  #navToggle div::after {
	content:'';
	position: absolute;
	width:100%;
	height:100%;
	transform-origin: 0 0;
	background-color: var(--darkGrey);
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
  }
  
  #navToggle:hover div::after {
	transform: scaleX(1);
  }
  
  
  




/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
} */

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
	resize: vertical;
	transition:all 0.15s;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

/* @media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
} */

input:focus,
textarea:focus {
	box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,1);

}



/*				-------------	 		*/
/*			LUKE ADDED STYLING			*/
/* 				-------------			*/


footer {
	margin-top: 6rem;
	background: black;
	color: white;
	padding: 1em 0;
	font-size: 0.9rem;
}

footer > div{
	display: grid;
    grid-template-columns: 1fr 250px;
	
}

footer ul{
	list-style: none;
	padding: 0;
}

footer a[href] {
	color: white;
}

footer #bcOverview {
	max-width: 550px;
	padding-right: 75px;
}

footer #bcContact > svg:first-of-type{
	margin-top: -68px;
    margin-left: -50px;
}
footer .socialIcon {
	width: 20px;
	fill: white;
	margin: 10px 10px 10px 0;
	transition: opacity 0.25s;
}

footer .socialIcon:hover {
	opacity: 0.7;
}

/* Styling Office Hours in Footer */

#officeHrsDate {
	position: absolute;
	text-align: right;
	transform: translate(-45px, calc(-100% - 10px));
}

#officeHrsDate > span {
	opacity: .3;
}

#officeHrsDate > span.currentDay{
	opacity: 1;
}

#officeHrsContainer > img{
	margin: 40px 0 25px 0;
}

a#honorRoll{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 25px 0;
   cursor: default;
   text-decoration: none;
}

a#honorRoll > svg{
    height: 22px;
    margin-right: 12px;
    margin-top: 10px;
}

.tinyParagraph{
	font-size: 0.7rem;
	opacity: 0.6;
}

#hero img{
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

.heroImageRoll-container {
	width: 100%;
	position: absolute;
	z-index: -10;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#hero{
	width: 100%;
    height: 60vh;
	max-width: none;
	/* text-align: center; */

}

#callToAction > svg{
	display: inherit;
    margin: -100px auto 30px auto;
    height: 250px;
}


#sidekick {
	width: 100%;
	max-width: none;
	height: 30vh;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}



/* TRI-CARD */
div.triCard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* Save for later! */
/* div.triCard::after {
	content: "";
	flex: auto;
  } */

div.triCard>div{
	padding: 0;
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	margin-bottom: 35px;
}

div.triCard>div>img{
	height: 300px;
}

div.triCard>div>p {
	margin: 10px;
}


/* BI - INFO */

div.biInfo{
	display: grid;
	position: relative;

	grid-template-columns: 1fr 1fr;
}

div.biInfo > div{
	max-width: calc(var(--contentWidth)/2);
	margin-bottom: 25px;
}


/* fiftySplit */

div.fiftySplit {
	display: flex;
	width: 100%;

	max-width: none;
	margin: none;
}

div.fiftySplit > div{
	width: 50%;
	padding: 0;
	background-position: center;
	background-size: cover;
	background-color: var(--lightGrey);
}

div.fiftySplit > div:last-of-type{
	left: 50%;
}



div.servicesContainer{
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0 15px;
}

div.servicesContainer > div{
width: 300px;
margin-bottom: 75px;
margin-left: 10px;
margin-right: 10px;
}

div.servicesContainer > div > img {
	width: 30px;
	height: 30px;
}

div.swiper-container-initialized{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.square{
	max-width: 100%;
    height: 0;
	padding: 100% 0 0 0;
	position:relative;
	background-position: center;
	background-size: cover;
}

div.aspectInner{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}



/*  									*/
/* 		ABOUT PAGE SPECIFIC STYLING 	*/
/*  									*/

div#valuesSection{
	padding-top: 50px;
}

div#valuesSection > h1{
	position: absolute;
	top: 0;
}

div#healthFifty{
	margin-top: 75px;
	margin-bottom: 25px;
}

div#healthFifty>div{
	background: var(--lightGrey);
	display: flex;
	justify-content: center;
}
div#healthFifty>div:last-of-type{
background-image:url(/static/uploads/umit-yildirim-9OB46apMbC4-unsplash.jpg);
opacity: 0.7;
background-position: center;
background-size: cover;
}

#healthHeader {
	display: inline-block;
	text-align: center;
	background: white;
	position: relative;
	right: -50%;
	margin: 150px 0;
	padding: 50px 50px;
	z-index: 10;	
}

div#teamSection{
	margin-top: 75px;
}
div#teamSection .aspectContainer{
	max-width: 600px;
	margin: 50px 0;

}

div.teamImages-container > div > div{
	background-position: center;
	background-size: cover;
}

div#historySection{
	margin-top: 75px;
	margin-bottom: -6rem;
}


div#historySection.fiftySplit > div:first-of-type{
	background-image:url(/static/uploads/resized_20190717_132416.jpeg);
	background-size: cover;
	background-position: center;
	opacity: 0.7;
}

div#historySection.fiftySplit > div:last-of-type{
	background: var(--lightGrey);
	padding: 50px 0;
}

div#historySection.fiftySplit>div:last-of-type>*{
	max-width: 500px;
	padding: 0 25px;
}








/*  									*/
/* 		CAREER PAGE SPECIFIC STYLING 	*/
/*  									*/


div#careerSection table{
	margin: 75px 25px;
	width: calc(100% - 50px);
	font-size: 1.4rem;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout:auto;
	word-wrap: break-word;
}

div#careerSection td,th{
	padding: 15px 25px;
	border-bottom: 1pt solid var(--lightGrey);

}

div#careerSection th{
border-bottom: none;
padding: 0 25px;
}

div#careerSection td.jobDescription
{
	font-size: 0.9rem;
}

div#careerSection td:not(.jobDescription){
	cursor: pointer;
}
div#careerSection td.jobDescription.hidden{
	display:none;
}


/*  												*/
/* 			EQUIPMENT PAGE SPECIFIC STYLING 		*/
/*  												*/

div#equipmentWrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px 0;
	grid-gap: 50px;
}

div#equipmentWrapper > div {
	background-color: var(--background);
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
	padding: 20px;

}





/*  										*/
/* 		SERVICES PAGE SPECIFIC STYLING 		*/
/*  										*/












/*  										*/
/* 		HOME PAGE SPECIFIC STYLING 			*/
/*  										*/


div#serviceSummarySection > h1 {
	text-align: right;
	margin-top: 50px;
	margin-bottom: -70px;
}

div#serviceSummarySection > div.servicesContainer > div {
	margin-bottom: 20px
}

div#serviceSummarySection{
	margin-bottom: 100px;
}

#featProjectSection{
	display: grid;
    grid-template-columns: 1fr 500px;
	overflow: hidden;
}

#featProjectSection p{
	max-width: 300px;
}
#featProjectSection > div:first-of-type *{
	position: relative;
	z-index: 20;
}

div#featProjectSection .aspectContainer{
	position: relative;
}

div#featProjectSection .slideHide{
	position: absolute;
    background: red;
    width: 50vw;
    height: 110%;
    top: -5%;
    z-index: 5;
}

div#featProjectSection .slideHide{
	left: calc(-50vw);
}

div#featProjectSection div.projectImages-container{
	overflow: visible;
}

div.projectImages-container > div > div > div{
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}


.projectImages-container .swiper-button-prev, .projectImages-container .swiper-button-next{
	/* position: initial;
	display: inline-block; */
	color: initial;
	/* width: initial;
	height: initial;
	margin: 0 5px;
	top: unset;
	bottom: 0; */
}
.projectImages-container .swiper-pagination{
	/* position: initial;
	display: inline-block;
	width: initial; */
	font-family: 'Friz Quadrata';
	transform: translate(0, -25px);
}

@media screen and (max-width: 769px) {


	/* NAVIGATION */


	nav{	
		margin-top: 0;
		position: fixed;
		background-color: var(--primary);
		height: 60px;
		left: initial;
		border-radius: initial;
		padding: initial;
	}
	nav #mobileLogoContainer{
		display: block;
		position: absolute;
		left: 25px;
		top: 16px;
	}

	div#logoContainer{
		display: none;
	}
	
	#navLinks {
		background-color: var(--primary);
		flex-direction: column;
		height: 100vh;
		justify-content: start;
		position: relative;
		z-index: -1;
		padding: 25px;
		margin-top: 50px;
		
	}


	nav ul li {
		margin: 15px 0px;
	}

	nav a{
		color: var(--secondary);
		font-size: 1.4rem;
	}

	nav svg{
		fill: var(--secondary);
		margin-left: 1.2em;
	}

	nav ul > li:last-of-type a{
		background: var(--secondary);
		color: var(--primary);
		margin-left: 15px;
	}

	#navToggle{
		display: block;
	}

	#navLinks.hidden{
		opacity: 0;
		transform: translateY(-100%);	  
	  }
	  
	#navToggle.rotated div::after
	{
	transform-origin: 50% 50%;
	background-color: white;
	}
	
	#navToggle.rotated div
	{
	background-color: var(--secondary);
	}
	
	#navToggle.rotated > div:first-of-type
	{
	transform: translateY(1px) rotate(45deg);
	}
	
	#navToggle.rotated > div:last-of-type
	{
	transform: translateY(-1px) rotate(-45deg);
	}

	/* FOOTER */

	footer > div{
		display: block;
		width: fit-content;
		text-align: center;
	}

	#officeHrsDate {
		transform: translate(-15px,calc(-100% - 10px));
	}

	div#officeHrsContainer{
		text-align: left;
	}
	
	div#officeHrsContainer > p:first-of-type {
		transform: translateX(25px);
	}

	div#officeHrsContainer > p > strong{
		display: inline-block;
    	transform: translateX(12px);
	}

	a#honorRoll{
		justify-content: center;
	}


	/* HERO + SIDEKICK */

	#hero, #hero > div.swiper-container-initialized{
		height: 500px;
	}

	#sidekick{
		height: 250px;
	}

	/* MULTI USE ELEMENTS */

	div.servicesContainer>div{
		width: auto;
		margin-bottom: 35px;
	}

	div.fiftySplit{
		flex-direction: column;
	}

	div.fiftySplit>div{
		width: 100%;
		min-height: 200px;
	}

	@media screen and (max-width: 550px) {
	div.biInfo{grid-template-columns: 1fr;}	
	}
	.testimonial-container{
		width: calc(100vw - 50px);
	}
	/*										  	*/
	/* 		PAGE SPECIFIC MOBILE STYLING		*/
	/*										  	*/



	/* HOME */

	div#callToAction > svg{
		height: 150px;
		margin-top: -65px;
	}

	div#serviceSummarySection>h1{
		text-align: left;
	}

	div#featProjectSection{
		grid-template-columns: 1fr;
	}
	
	div#featProjectSection .aspectContainer{
		margin-top: 30px;
	}

	/* SERVICES */
	div#equipmentSection>div {

	width: auto;
	}

	/* CAREERS */
	div#careerSection table{
		font-size: 0.9rem;
	}

	div#careerSection td{
		padding: 7px 7px;
	}
	div#careerSection th{
		padding: 0 7px;
	}

	/* ABOUT */
	#healthHeader{
		right: 0;
		margin: 73px 15px;
		padding: 25px;
	}

	div#healthFifty>div:last-of-type {
		display: none;
	}

	div#historySection.fiftySplit>div:last-of-type>*{
		max-width: initial;
	}

	/* EQUIPMENT */

	div#equipmentWrapper{
		grid-template-columns: 1fr;
		grid-gap:25px;
	}

}

@media screen and (max-width: 1000px) {
	nav{
		left:initial;
	}
}


