<footer>
  <div>

    <div id="bcOverview" class="mobileHidden">
      <h3>Blackrock Construction</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue cras non lacus sit eu. Ultricies lacus lacus dictum pharetra lectus tempus id. Nisl lacus enim, sapien, bibendum dolor. Eget dolor tellus vitae hendrerit et lacus suspendisse odio turpis. Blandit semper volutpat consectetur gravida enim, tortor sagittis. Feugiat accumsan potenti vulputate sed pulvinar vestibulum. Sit maecenas aliquam scelerisque purus.

      Euismod urna duis eget quisque orci in. Amet sollicitudin arcu, egestas nulla. Pharetra tincidunt neque, orci sagittis interdum urna. Consequat proin felis in diam purus. Ut id viverra cursus cursus viverra. Sed risus nisi a non, sit. Habitant nunc aliquet fames habitasse. Odio enim tortor orci, enim eget purus enim interdum.</p>
      
    </div>

    <div id="siteMap" class="mobileHidden">
      <h3>Links</h3>
        {% set navPages = collections.all | eleventyNavigation %}
      <ul>{%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>
    </div>

    <div>
      <h3>Contact Us</h3>
      <p>PO Box 2280 Mansfield<br>Texas 76063<br>(512) 392-5725</p>
      <div id="officeHrsContainer">
        <p><strong>Office Hours</strong>
        <br>09:00 am – 05:00 pm
        <br>09:00 am – 05:00 pm
        <br>09:00 am – 05:00 pm
        <br>09:00 am – 05:00 pm
        <br>09:00 am – 05:00 pm
        <br>Closed
        <br>Closed</p>
      
        <p id="officeHrsDate">
          <span id="Mon">Mon</span><br>
          <span id="Tue">Tue</span><br>
          <span id="Wed">Wed</span><br>
          <span id="Thu">Thu</span><br>
          <span id="Fri">Fri</span><br>
          <span id="Sat">Sat</span><br>
          <span id="Sun">Sun</span>
        </p>

        <img src="/static/branding/logoWhite.svg" alt="Blackrock Construction Logo" >

      </div>
    </div>
      
    <div>
    <p class="tinyParagraph">Created by <a target="_blank" href="https://whoistobias.me">@whoistobias</a></p>
    <p class="tinyParagraph">Terms & Conditions • Copyright {{ site.buildYear }}</p>
    </div>
  </div>  
</footer>
