<footer>
  <div>
    <div id="bcOverview" class="mobileHidden">
      <h3>Blackrock Construction</h3>
      <p>Blackrock Construction is a multi-generational family-owned construction company that works throughout the Texas market.  Our focus is growing a company that embodies our family's conservative and hardworking value system. We believe in a fundamental value system that puts God first, family second and a quality over quantity approach to our trade.
        
      </p><p>We have built projects as far south as Harlingen and as far west as El Paso. If it's in Texas we are interested if it fits our abilities. We have trenched in many states including North Dakota, Pennsylvania, New Mexico, Nevada, Arkansas, Kentucky, and Oklahoma. We have never failed to complete a project, we have never paid any liquidated damages, nor have we ever had a successful bond claim. Our office is in Mansfield Texas and we have lay down yards in Abbott and Martindale Texas.</p>
      
    </div>

    {# <div id="siteMap" class="mobileHidden">
      <h3>Links</h3>
        {% set navPages = collections.all | eleventyNavigation %}
      <ul>{%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>
    </div> #}

    <div id="bcContact">
      {% include "static/branding/logoBBG.svg" %}
      <h3>Contact Us</h3>
      <p>PO Box 2280 Mansfield, TX 76063</p>
      <p>Yard: IH35 @ CR2302S Abbott, TX</p>
      <p>(512) 392-5725</p>
      <a href="https://www.linkedin.com/in/donny-gamblin-536a6b79" target="_blank">{% include "static/branding/linkedin.svg" %}</a>
      <div id="officeHrsContainer">
        <p><strong>Office Hours</strong>
        <br>07:00 am – 05:30 pm
        <br>07:00 am – 05:30 pm
        <br>07:00 am – 05:30 pm
        <br>07:00 am – 05:30 pm
        <br>07:00 am – 05:30 pm
        <br>Closed
        <br>Closed</p>
      
        <p id="officeHrsDate">
          <span id="Mon">Mon</span><br>
          <span id="Tue">Tue</span><br>
          <span id="Wed">Wed</span><br>
          <span id="Thu">Thu</span><br>
          <span id="Fri">Fri</span><br>
          <span id="Sat">Sat</span><br>
          <span id="Sun">Sun</span>
        </p>
      </div>
      <a id="honorRoll" target="_blank" href="/admin/">
          {% include "static/branding/usFlag.svg" %}
          <p class="tinyParagraph"><strong>In God We Trust</strong></p>
        </a>
    </div>
      
    <div>
    <p class="tinyParagraph">Created by <a target="_blank" href="https://ambiform.co">Luke Bishop</a><br>
    Terms & Conditions • Copyright {{ site.buildYear }}</p>
    </div>
  </div>
</footer>
