<div id="hero" style="background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url({{ heroicImage }})">
    <h1>
        <span>Blackrock</span>
        <span>Construction</span>
        <span>Make it work</span>
    </h1>
</div>
