<nav>
  <div class="contentWidth">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    <li>
      <a href="/"><img width="100" height="50" src="\static\branding\mountain.svg" alt="Blackrock Construction Logo"></a>
    </li>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
  </div>
</nav>
