<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="contentWidth">
    <li>
      <a href="/"><img width="30" height="30" src="\static\img\logo.png" alt="Blackrock Construction Logo"></a>
    </li>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
