---
title: Careers
permalink: /careers/index.html
eleventyNavigation:
  key: Careers
  order: 3
---
<div>
  <h1>Find your future</h1>
  <p>Tempus varius a aenean mauris sit consequat. Nulla elementum ac congue eu nisl viverra libero, tellus ut. Lectus dolor nunc sit lacinia leo. Scelerisque congue in neque, rhoncus mattis molestie quam ullamcorper.</p>
  <a href="/contact">
    Contact us to apply →</a>
  
  <!-- Table containing DIV for layout purposes -->
  <!-- might be able to remove -->
  <div>
    <table>
      <tr>
        <th>Job Title</th>
        <th>Location</th>
        <th>Type</th>
      </tr>  

      <!-- nunjuks javascript function that creates table rows for data from job collections -->

      {%- for jobs in collections.jobs %}
      <tr>
        <td>{{ jobs.data.name }}</td>
        <td>{{ jobs.data.location }}</td>
        <td>{{ jobs.data.type }}</td>
      </tr>
      {%- endfor %}
    </table>
  </div>
</div>
