---
title: Careers
date: 2017-01-01T00:00:00.000Z
permalink: /careers/index.html
eleventyNavigation:
  key: Careers
  order: 3
---
<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.

Add a few line breaks in here to test:-
Capitalize  
on  
low  
hanging  
fruit  </p>

  <ul>
  {%- for jobs in collections.jobs %}
    <li>
      {{ jobs.data.name }} - {{ jobs.data.location }} - {{ jobs.data.type }}
    </li>
  {%- endfor %}
  </ul>