---
title: About us
permalink: /about/index.html
heroicImage: /static/uploads/thumbnail_20201114_135514.jpg
eleventyNavigation:
  key: About
  order: 2
---
{% include "components/sidekick.njk" %}

<div id="valuesSection" class="biInfo">
  <h1 class="fade">Our Values</h1>
  <div class="valueContainer">
    <h2>Teamwork</h2>
    <p>Teamwork is the ability to work toward a common vision and the ability to direct individual accomplishments towards organizational objectives. Teamwork is the fuel that allows common people to obtain uncommon results.</p>
  </div>
  <div class="valueContainer">
    <h2>Transparency</h2>
    <p>Transparency means that our motives are easily perceived. No hidden agendas and we prove it through our actions. Our entire philosophy is one of transparency.</p>
  </div>
  <div class="valueContainer">
    <h2>Honesty</h2>
    <p>We believe that fundamental honesty is the keystone and soul of business. Without it, no level of integrity or success can be achieved.</p>
  </div>
  <div class="valueContainer">
    <h2>Leadership</h2>
    <p>Leadership is an action, not a position. A clear vision for our future coupled with a passion and drive to complete the task at hand is a virtue that our leaders seamlessly execute.</p>
  </div>
  <div class="valueContainer">
    <h2>Excellence</h2>
    <p>Excellence is the gradual result of always striving to do better. Excellence in execution will keep us ahead of the competition. We strive for excellence the first time and believe in delivering quality work and performing above the industry standards to help our customers succeed.</p>
  </div>
  <div class="valueContainer">
    <h2>Mastery</h2>
    <p>We must strive to do the things we think we cannot. Mastery of our craft will allow for healthy growth and a robust future for our industry and employees.</p>
  </div>
</div>


<div id="healthFifty" class="fiftySplit"> 
    <div><div id="healthHeader"><h1>Health & Safety</h1><p class="standout">The number one goal of our team is to ensure the well-being of our employees. We routinely partner with OSHA through their OSHCON program to better grasp the changes and requirements of our industry. We use customized daily JSA and weekly safety topics that are relevant to our trade. We have a safety manager that is responsible for helping us achieve our daily goal, the goal of each team-member returning home daily safe and unharmed.</p>
    <p class="standout"><a href="https://www.osha.gov/" target="_blank">Read about our regulatory body →</a></p></div>
    </div>
    <div></div>
</div>


<!-- Team Section -->

<div id="teamSection">
  <h1>Our Team</h1>
  <p class="standout">    
    Without them we are just an idea. The hardworking men and women who make up "Team Blackrock" are truly our greatest assets. They are simply the best. Their years of knowledge and dedication are the backbone of our success.
  </p>
<div class="aspectContainer">
  <div class="square">
    <div class="aspectInner">
      <div class="teamImages-container">
      <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {%- for images in collections.teamImages %} 
                <div class="swiper-slide" style="background-image: url('{{images.data.image}}')"></div>
            {%- endfor %}
        </div>
      </div>
    </div>  
  </div>
</div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
      var teamImageRoll = new Swiper('.teamImages-container', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,
          spaceBetween: 150,
          autoplay: {
          delay: 3200,
          },
      });
  </script>
    <!-- Team items are created by NETLIFY CMS pulling form Eleventy Collection -->
      {# <div class="triCard">
        {%- for team in collections.team %} 
        <div>
          <img src="{{team.data.image}}" alt="Image of {{team.data.name}}">
          <p>{{team.data.name}}</p>
          <p>{{team.data.role}}</p>
          <p>{{team.data.desc}}</p>
        </div>
        {%- endfor %}
    </div> #}
</div>

<div id="historySection" class="fiftySplit">
  <div></div>
  <div>
    <h1>History</h1>
    <p>BlackRock Construction was founded upon the idea that a team of hardworking individuals can succeed in the Texas underground utility market.  The Gamblin family has been installing underground utilities since the 1980’s. With humble beginnings our family has been installing utilities or trenching for the almost four decades. We bring a strong work ethic that was inherited from a family of hard-working individuals. Our family were coal miners hence the name “BlackRock”. The name BlackRock is the embodiment of a way of life.</p>
    <p>We learned that working hard, doing what others were not willing to do, perseverance and a lot of faith in God coupled together can make the impossible achievable. We learned that the harder we worked and the more we prayed and asked for a divine path the more we were able to achieve. Today BlackRock is comprised of a diverse group of team members who embody the same work ethic and value system. As we continue to work towards achieving our goals and building our team the future is very bright for team BlackRock.  
    </p>
  </div>
</div>
