---
title: Careers
permalink: /careers/index.html
heroicImage: /static/uploads/projects/matthew-t-rader-rl2bhqt-e74-unsplash.jpg
eleventyNavigation:
  key: Careers
  order: 3
---
{% include "components/sidekick.njk" %}

<div id="careerSection">
  <h1 class="center">Find your future</h1>
  <p class="standout center">Tempus varius a aenean mauris sit consequat. Nulla elementum ac congue eu nisl viverra libero, tellus ut. Lectus dolor nunc sit lacinia leo. Scelerisque congue in neque, rhoncus mattis molestie quam ullamcorper.<br>
  <a href="/contact">
    Contact us to apply →</a></p>
  
  <!-- Table containing DIV for layout purposes -->
  <!-- might be able to remove -->
    <table>
      <tr>
        <th>Job Title</th>
        <th>Location</th>
        <th>Type</th>
      </tr>  

      <!-- nunjuks javascript function that creates table rows for data from job collections -->

      {%- for jobs in collections.jobs %}
      <tr>
        <td>{{ jobs.data.name }}</td>
        <td>{{ jobs.data.location }}</td>
        <td>{{ jobs.data.type }}</td>
      </tr>
      {%- endfor %}
    </table>
</div>
