---
title: Equipment
permalink: /equipment/index.html
heroicImage: /static/uploads/21.jpg
eleventyNavigation:
  key: Equipment
  order: 4
---
{% include "components/sidekick.njk" %}

<div id="equipmentSection">
  <h1>Equipment for sale</h1>
  <p class="standout">Please reach out to us if you’re interested in purchasing any of the equipment we have listed here.</p>
  <p class="standout"><a href="/contact">Call us →</a></p>

  <div id="equipmentWrapper">
    {%- for equipment in collections.equipment %}
    <div>
      <div class="square" style="background-image: url('{{ equipment.data.image }}')"></div>
        <p><strong>{{ equipment.data.name }}</strong></p>
        <p>{{ equipment.data.desc }}</p>
        <p>{{ equipment.data.price }}</p>
    </div>
    {%- endfor %}
  </div>
</div>