---
layout: layouts/base.njk
title: Home
permalink: /
heroicImage: /static/uploads/qinghill-GMU6ldtMxGQ-unsplash.jpg
eleventyNavigation:
  key: Home
  order: 0
---
{%- for users in collections.users %} 
<table width="420" style="width:420px;font-family: 'Montserrat', Helvetica, Arial, sans-serif;line-height:normal" cellspacing="0" cellpadding="0" border="0">
    <style type='text/css'>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
<tbody>
<tr>
  <td width="420">
      <table cellspacing="0" cellpadding="0" border="0">
          <tr>
              <td width="130" style="line-height: 0px;padding-right: 15px;border-right: 1px solid #1f3873;">
                  <img src="https://thetexaslawdog.com/wp-content/uploads/2025/07/aulsbrook-logo.png" alt="Aulsbrook Logo" width="130" style="width:130px;display:inline; overflow:hidden; border:none;vertical-align:middle">
              </td>
              <td width="205" style="padding-left: 15px;">
                  <table width="205" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                          <tr>
                              <td colspan="20" valign="middle" width="205" style="border-bottom: 1px solid #1f3873;line-height: 14px; padding-bottom: 5px;">
                                  <span style=";color:#001F66;font-size: 16px;line-height: 16px;font-weight: bold;">
                                      {{ users.data.name }}
                                  </span><br>
                                  <span style=";color:#CD2726;font-size: 11px;line-height: 14px;font-weight: 500;">
                                      {{ users.data.title }}
                                  </span>
                                  {% if users.data.title2 %}
                                  <br><span style=";color:#CD2726;font-size: 11px;line-height: 14px;font-weight: 500;">{{ users.data.title2 }}
                                  </span>
                                  {% endif %}
                              </td>
                          </tr>
                          <tr>
                              <td width="205" style="vertical-align:middle;padding-top: 7px;" valign="middle">
                                  <table width="205" border="0" cellspacing="0" cellpadding="0" style="padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;">
                                      <tr height="21" style="vertical-align: middle;">
                                          <td width="21" style="vertical-align: middle;">
                                              <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle;  ">
                                                <tbody>
                                                    <tr>
                                                      <td style="vertical-align: bottom;"><span color="#3a975b" width="12" class="sc-jlyJG bbyJzT" style="display: block;"><img src="https://thetexaslawdog.com/wp-content/uploads/2025/07/phone_icon.png" alt="Phone: " color="#3a975b" width="12" height="12" class="sc-iRbamj blSEcj" style="display: block;"></span></td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                          </td>
                                            <td style="padding: 0px;line-height:14px;"><a href="tel:817-775-5364" color="#4d4747" class="sc-gipzik iyhjGb" style="text-decoration: none; color: #ffffff;line-height:14px; font-size: 12px;"><span style="text-decoration: none;line-height:14px; color: #1f3873; font-size: 11px;font-weight: 500;">817-775-5364</span></a></td>
                                      </tr>
                                      <tr height="21" style="vertical-align: middle;">
                                          <td width="21" style="vertical-align: middle;">
                                              <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle;  ">
                                                <tbody>
                                                    <tr>
                                                      <td style="vertical-align: bottom;"><span color="#3a975b" width="12" class="sc-jlyJG bbyJzT" style="display: block;"><img src="https://thetexaslawdog.com/wp-content/uploads/2025/07/mail_icon.png" alt="Email: " color="#3a975b" width="12" height="12" class="sc-iRbamj blSEcj" style="display: block;"></span></td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                          </td>
                                          <td style="padding: 0px;line-height:14px;"><a href="mailto:{{ users.data.email }}" color="#4d4747" class="sc-gipzik iyhjGb" style="text-decoration: none; color: #ffffff;line-height:14px; font-size: 12px;"><span style="text-decoration: none;line-height:14px; color: #1f3873; font-size: 11px;font-weight: 500;">{{ users.data.email }}</span></a></td>
                                      </tr>
                                      <tr height="21" style="vertical-align: middle;">
                                          <td width="21" style="vertical-align: middle;">
                                              <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle;  ">
                                                <tbody>
                                                    <tr>
                                                      <td style="vertical-align: bottom;"><span color="#3a975b" width="12" class="sc-jlyJG bbyJzT" style="display: block;"><img src="https://thetexaslawdog.com/wp-content/uploads/2025/07/website_icon.png" alt="Website: " color="#3a975b" width="12" height="12" class="sc-iRbamj blSEcj" style="display: block;"></span></td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                          </td>
                                          <td style="padding: 0px;line-height:14px;"><a href="https://thetexaslawdog.com/" color="#525026" class="sc-gipzik iyhjGb" style="text-decoration: none;line-height:14px; color: #ffffff; font-size: 12px;"><span style="text-decoration: none;line-height:14px; color: #1f3873; font-size: 11px;font-weight: 500;">www.thetexaslawdog.com</span></a></td>
                                      </tr>
                                  </table>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
      </table>
  </td>
     <tr>
                <td width="420" style="padding-top: 10px;">
                    <table cellpadding="0" cellspacing="0">
                       <tr>
                          <td align="center" width="420" style="background-color: #393939;padding-top: 6px;padding-bottom: 7px;">
                              <table cellpadding="0" cellspacing="0">
                                <tr height="21" style="vertical-align: middle;">
                                    <td width="19" style="vertical-align: middle;">
                                       <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle;  ">
                                          <tbody>
                                             <tr>
                                                <td style="vertical-align: bottom;"><span color="#420026" width="12" class="sc-jlyJG bbyJzT" style="display: block;"><img src="https://thetexaslawdog.com/wp-content/uploads/2025/07/location_icon.png" alt="Location: " color="#3a975b" width="12" height="12" class="sc-iRbamj blSEcj" style="display: block;"></span></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </td>
                                    <td style="padding: 0px;line-height:14px;letter-spacing: 0.3px;"><span style="text-decoration: none;line-height:14px; color: #ffffff; font-size: 12px;font-weight: 500;letter-spacing: 0.3px;">424 E. Lamar Blvd. Suite 200 Arlington Texas 76011</span></td>
                                </tr>
                              </table>
                          </td>
                       </tr>
                    </table>
                </td>
            </tr>
</tr>
    {% if users.data.mda %}
    <tr>
      <td width="420" align="center" style="line-height:0px;padding-top:10px;">
          <img src="https://thetexaslawdog.com/wp-content/uploads/2025/07/mda-logo.png" alt="Million Dollar Advocates Forum" width="300" style="width:300px;display:inline; overflow:hidden; border:none;vertical-align:middle">
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
<br>
{%- endfor %}

