---
layout: layouts/base.njk
title: Home
permalink: /
heroicImage: /static/uploads/qinghill-GMU6ldtMxGQ-unsplash.jpg
eleventyNavigation:
  key: Home
  order: 0
---
{% include "components/hero.njk" %}
<div id="callToAction">
  {% include "static/branding/logoWBG.svg" %}
  <p class="standout center">Blackrock is a professional construction company with over 80 years of combined experience. All of our resources are focused on completing your project with the highest standards in mind.
  <br><a href="/contact">Contact us now →</a>
  </p>
</div>

<div id="serviceSummarySection">
  <h1 class="fade">Our Services</h1>
  <div class="servicesContainer">
    {% set j = 0 %}
    {%- for i in range(0,collections.services | length) %}
      {% if collections.services[i].data.homepageVisible and j < 3 %}
        {% set services = collections.services[i] %}
        {% set j = j + 1 %}
        <div>
          <img src="{{ services.data.icon }}" alt="{{ services.data.name }} icon">
          <p><strong>{{ services.data.name }}</strong></p>
          <p>{{ services.data.summary }}</p>
        </div>
      {% endif %}
    {%- endfor %}
      
    
  </div>
  <a href="/services/">See all that we have to offer →</a>
</div>

{# <div id="testimonialSection">
  <div>
    <span class="fade">“</span>
    <!-- Slider main container -->
    <div class="testimonial-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {%- for text in collections.testimonials %} 
                <div class="swiper-slide">
                  <p class="standout">{{text.data.testimonial}}</p>
                  <p>{{text.data.name}}</p>
                  <p>{{text.data.title}}</p>
                </div>
            {%- endfor %}
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
          &lt
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next">
          &gt
          </div>

    </div>

    <script>
    var testimonialSwiper = new Swiper('.testimonial-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        autoplay: {
          delay: 6400,
        },
        
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          type: 'fraction',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
    });
</script>
    
    {# come back to this! <svg></svg>
    <a href="/projects/">Read more about our projects →</a>
  </div>
</div> #}

<div id="featProjectSection">
  <div>
    <h1>Featured<br>Projects</h1>
    <p>These are projects we loved working on in the past that we think are fantastic examples of the kind of things we do!</p>
  </div>
  <div class="projectImages-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          {%- for images in collections.projects %} 
              <div class="swiper-slide">
                  <img src="{{images.data.image}}" alt="Team Image">
                  <p>{{ images.data.summary }} Hwelleilsjaldfs sdfsdfjk</p>
              </div>
          {%- endfor %}
      </div>
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
      var projectImageRoll = new Swiper('.projectImages-container', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,
          autoplay: {
          delay: 6400,
          },
      });
  </script>
</div>

{# Font Styling Section
<div>
  <h1>Header 1</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, inventore quaerat. Mollitia, molestiae dolorem laboriosam ex illum rem repellat labore nobis magnam qui earum dicta reprehenderit ducimus asperiores at aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi magni quasi iste ipsa commodi, explicabo vero officiis totam esse dignissimos beatae voluptate quisquam harum tempore quas temporibus nobis provident earum?Enim assumenda, obcaecati quas provident temporibus, ipsum ipsa error modi nemo id quos maxime dolor cumque dolorem quibusdam, nostrum corporis. Voluptatum nihil quam ullam expedita fuga eos quia libero iusto.</p>
  <h2>Header 2</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat tenetur, ea reprehenderit consectetur, alias enim laborum dolore cupiditate impedit ex asperiores, vero excepturi repellat debitis modi ipsa minus? Dolores.
  Adipisci sint facilis sequi dolorem quos. Esse molestias eius quos reprehenderit cupiditate debitis rerum enim quisquam nostrum alias! Dolorum necessitatibus repudiandae voluptatibus doloremque commodi sequi quos doloribus dolores aliquid sunt.
  A, officiis accusamus doloremque iure fugiat suscipit, quis consectetur corporis error voluptates reprehenderit, esse libero dolorum at dicta illum. Dignissimos earum recusandae beatae odit ex repellendus iste maxime ducimus iusto!</p>
  <h3>Header 3</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque accusantium asperiores aspernatur! Quis porro quam corrupti quo esse eligendi odio placeat aliquid dignissimos, vel eos sint quibusdam, quae, ut quisquam!
  Consequatur hic magni sit ad ipsum quibusdam, aspernatur totam quidem dolores suscipit dignissimos adipisci voluptatum error eius harum cumque qui amet nemo architecto minima aliquam id explicabo voluptates! Dolores, enim.
  At vel optio modi blanditiis fugiat rem laborum consectetur natus iusto quaerat nemo, facere consequatur maxime provident nobis molestias minima ex! Eligendi tempora corrupti esse. Quae nesciunt maxime dolore quidem.</p>
  <h4>Header 4</h4>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque nobis repellat sint ipsum, aspernatur quasi cumque quis ipsam earum numquam et, architecto odio doloremque quia voluptas. Nobis at iure modi.
  Nulla aut quis corporis vel ab rem eos laudantium alias dicta porro, excepturi reprehenderit magnam reiciendis iste illum dolorem maxime. Ipsam sunt totam sint, illo esse facere delectus dolore at.
  Officiis dicta magnam nobis quibusdam natus aliquam fugit corrupti possimus ex quos est earum doloribus, nesciunt id exercitationem, nihil cupiditate dolor in molestias tempore eveniet ullam fugiat. Quisquam, non facere!</p>
  <h5>Header 5</h5>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, fuga deleniti totam explicabo laboriosam facilis quas dignissimos unde velit mollitia, sit iste omnis officiis quaerat sint earum laborum error corrupti.
  Voluptatibus perspiciatis in, similique impedit corporis quia autem ullam repellendus sint eveniet, et blanditiis aspernatur harum cum! Excepturi minus, cumque ea, necessitatibus qui suscipit iusto asperiores quam adipisci temporibus eveniet.
  Nesciunt quasi provident veniam ut ab ex unde officiis ducimus aspernatur sequi ad veritatis, impedit mollitia rem reiciendis sint, suscipit similique nisi dolore inventore deleniti omnis officia. Totam, quam pariatur!</p>
</div> #}