---
title: Projects
permalink: /projects/index.html
heroicImage: /static/uploads/matthew-t-rader-rl2bhqt-e74-unsplash.jpg
eleventyNavigation:
  key: Projects
  order: 2
---
{% include "components/sidekick.njk" %}

<div id="featuredSection">
  <h1 class="fade">Featured Project</h1>
  <h1>Mainline Sewer</h1>
  <p id="projectMeta">Arlington TX / William Battle</p>
  <p class="standout">Integer ullamcorper donec feugiat faucibus nibh a vel praesent. Velit, tortor, justo, aliquet vel, aliquam, etiam magna semper. Diam nulla tortor eu, vulputate vitae nisl, malesuada ligula nibh. </p>
  <div class="iconParagraph">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 61.13"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M0,58.66,47.55,24.08,53,27.32,85.37,0l6.11,7.56,18.28,9.58,22.38,20.22,20.69,5.56L180,61.13,147.58,47.08l-12.19-2.62-9.11-4.32-6.8-5.56-20.06-.31-3.55,8.95L66.23,45.69l17.29-6.63,11.42-8.49,15-3.55-3.86-3.71L90,16.83,83.21,11,55.42,37.82l-6.79-3.09Z"/></g></g></svg>
    <p>Elementum ac erat lectus quis. Mauris vel donec leo habitant at at commodo, molestie nec. Id tristique et convallis faucibus consectetur nunc lacus, sit sed. Accumsan sed sit feugiat.</p>
  </div>
  <div class="iconParagraph">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 61.13"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M0,58.66,47.55,24.08,53,27.32,85.37,0l6.11,7.56,18.28,9.58,22.38,20.22,20.69,5.56L180,61.13,147.58,47.08l-12.19-2.62-9.11-4.32-6.8-5.56-20.06-.31-3.55,8.95L66.23,45.69l17.29-6.63,11.42-8.49,15-3.55-3.86-3.71L90,16.83,83.21,11,55.42,37.82l-6.79-3.09Z"/></g></g></svg>
    <p>Ac varius tortor dolor morbi sit et egestas. Quis sem lacus, tellus pulvinar suspendisse pellentesque euismod tempor. Tincidunt risus gravida venenatis amet eget nulla consequat.</p>
  </div>
  <div class="iconParagraph">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 61.13"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M0,58.66,47.55,24.08,53,27.32,85.37,0l6.11,7.56,18.28,9.58,22.38,20.22,20.69,5.56L180,61.13,147.58,47.08l-12.19-2.62-9.11-4.32-6.8-5.56-20.06-.31-3.55,8.95L66.23,45.69l17.29-6.63,11.42-8.49,15-3.55-3.86-3.71L90,16.83,83.21,11,55.42,37.82l-6.79-3.09Z"/></g></g></svg>
    <p>In tincidunt eu venenatis non morbi donec sed diam. Neque mollis mauris quam neque, nisl quis. Mauris elit a at viverra molestie aliquam dapibus nullam. Nec bibendum gravida.</p>
  </div>
  <div class="iconParagraph">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 61.13"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M0,58.66,47.55,24.08,53,27.32,85.37,0l6.11,7.56,18.28,9.58,22.38,20.22,20.69,5.56L180,61.13,147.58,47.08l-12.19-2.62-9.11-4.32-6.8-5.56-20.06-.31-3.55,8.95L66.23,45.69l17.29-6.63,11.42-8.49,15-3.55-3.86-3.71L90,16.83,83.21,11,55.42,37.82l-6.79-3.09Z"/></g></g></svg>
    <p>Gravida ultricies aliquet lacinia tellus auctor dolor nulla nulla scelerisque. Tempus eu enim eu ornare pharetra neque. Blandit ultrices amet quis purus arcu tellus cum tincidunt.</p>
  </div>
  <img src="/static/uploads/matthew-t-rader-rl2bhqt-e74-unsplash.jpg" alt="">
  <p class="standout center">Integer ullamcorper donec feugiat faucibus nibh a vel praesent. Velit, tortor, justo, aliquet vel, aliquam, etiam magna semper. Diam nulla tortor eu, vulputate vitae nisl, malesuada ligula nibh. </p>
</div>

<div id="previousSection">
  <h1>Previous<br>Projects</h1>
  <div class="triCard" id="projectContainer">
    {%- for projects in collections.projects %}
    <div>
      <img src="{{projects.data.featImage}}" alt="Image of the {{projects.data.name}} project">
      <p><strong>{{projects.data.name}}</strong><br>
      {{projects.data.summary}}<br>
      <a href="{{projects.url}}">Read more →</a></p>
    </div>
    {%- endfor %}
  </div>
</div>