---
title: Our Services
permalink: /services/index.html
heroicImage: /static/uploads/projects/matthew-t-rader-rl2bhqt-e74-unsplash.jpg
eleventyNavigation:
  key: Services
  order: 1
---
{% include "components/sidekick.njk" %}

<div id="servicesSection">
  <h1>Our Services</h1>
  <p class="standout">Blackrock Construction brings generational experience to construction projects exceeding the highest industry standards ensuring our customer’s success.</p>

  <div class="servicesContainer">
    {%- for services in collections.services %}
    <div>
      <img src="{{ services.data.icon }}" alt="{{ services.data.name }} icon">
      <p><strong>{{ services.data.name }}</strong></p>
      <p>{{ services.data.summary }}</p>
    </div>
    {%- endfor %}
  </div>
</div>

<div id="equipmentHeading" class="fiftySplit">
  <div>
    <!-- Image -->
  </div>
  <div>
    <h3>Equipment for sale</h3>
    <p class="standout">Please reach out to us if you’re interested in purchasing any of the equipment we have listed here.<br>
    <a href="/contact">Call us →</a></p>
  </div>
</div>

<div id="equipmentSection">
  {%- for equipment in collections.equipment %}
  <div>
    <img src="{{ equipment.data.image }}" alt="{{ equipment.data.name }} image">
    <div>
      <p>{{ equipment.data.name }} - {{ equipment.data.price }}</p>
      <p>{{ equipment.data.desc }}</p>
    </div>
  </div>
  {%- endfor %}
</div>