---
title: Our Services
permalink: /services/index.html
heroicImage: /static/uploads/matthew-t-rader-rl2bhqt-e74-unsplash.jpg
eleventyNavigation:
  key: Services
  order: 1
---
{% include "components/sidekick.njk" %}

<div id="servicesSection">
  <h1>Our Services</h1>
  <p class="standout">We strive for excellence the first time and believe in delivering quality work and performing above the industry standards to help our customers succeed.</p>

  <div class="servicesContainer">
    {%- for services in collections.services %}
    <div>
      <img src="{{ services.data.icon }}" alt="{{ services.data.name }} icon">
      <p><strong>{{ services.data.name }}</strong></p>
      <p>{{ services.data.summary }}</p>
    </div>
    {%- endfor %}
  </div>
</div>

