<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body onload="highlightDate()">
		
		{% include "components/nav.njk" %}

		<main>

			<div id="sidekick" style="background-image:url({{ featImage }})"></div>
			<div id="projectPage">
				<div id="projectTitle">
					<h1>{{ name }}</h1>
					<h3>{{ location }} | {{ person }}</h3>
				</div>

				{{ layoutContent | safe }}
				<div class="gallery">
					<img src="{{ images }}">
				</div>
			</div>

		</main>

		{% include "components/footer.njk" %}
	</body>

</html>
